<div class="intro" id="intro">
    <section class="description">
        <p> {{ .Site.Params.description | default "这里输入简介" | safeHTML }} </p>
    </section>

    <section class="basic">
        <!-- 研究兴趣 -->
        <h2>{{.Page.Params.research_interests.name}}</h2>
        <p>{{delimit (.Page.Params.research_interests.tags) ", " }}</p>
    </section>

    <section class="education" id="education">
        <h2>{{.Page.Params.education.name}}</h2>
        <ul>
            {{ range .Page.Params.education.item }}
            <li>
                <p><b>{{ .degree }}</b>,<i>{{ .school }}</i><span class="loc-label">{{ .location }}</span></p>
                <p><span style="visibility: hidden;">GPA: {{ .gpa | safeHTML }}</span> <span
                        class="data-label">{{ time.Format "01/2006" .start }} -
                        {{if .end}}{{ time.Format "01/2006" .end }}{{ else }}Present{{ end }}</span></p>
                <!-- <div>
                    {{ .Page.Content }}
                </div> -->
            </li>
            {{ end }}
        </ul>
    </section>

    <section class="publications">
        <h2>{{.Page.Params.publications.name}}</h2>
        <ul>
            {{ range .Page.Params.publications.item }}
            <li>
                {{if eq .link ""}}<a {{if .link}}href="{{.link}}" {{end}} target="_blank">
                    {{else}}
                        {{ $file := resources.Get .link }}
                        <a href="{{$file.RelPermalink}}" download="{{.title}}" rel="noreferrer noopener me">
                            {{end}}
                            <p>{{ .title }}<i>({{ .subtitle }})</i> <span
                                    class="data-label">{{ time.Format "01/2006" .start }}
                                    -
                                    {{if .end}}{{ time.Format "01/2006" .end }}{{ else }}Present{{ end
                                    }}</span></p>
                        </a>
                        <p><i>Supervisor: {{ .supervisors }}</i></p>
            </li>
            {{ end }}
    </section>

    <section class="research">
        <h2>{{.Page.Params.research.name}}</h2>
        <ul>
            {{ range .Site.Taxonomies.categories.researchexperience }}
            <li>
                <a href="{{ .Page.RelPermalink }}">
                    <p>{{ .Page.Params.institution }} <span
                            class="data-label">{{ time.Format "01/2006" .Page.Params.start }} -
                            {{if .Page.Params.end}}{{ time.Format "01/2006" .Page.Params.end }}{{ else }}Present{{ end
                            }}</span></p>
                </a>
                <p><i>{{ .Page.Params.position }}</i> <span class="loc-label">{{ .Page.Params.city }}</span></p>
                <!-- <div>
                    {{ .Page.Content }}
                </div> -->
            </li>
            {{ end }}
        </ul>
    </section>

    <section class="industry" id="industry">
        <h2>{{.Page.Params.industry.name}}</h2>
        <ul>
            {{ range .Site.Taxonomies.categories.industryexperience }}
            <li>
                <a href="{{ .Page.RelPermalink }}">
                    <p>{{ .Page.Params.institution }} <span
                            class="data-label">{{ time.Format "01/2006" .Page.Params.start }} -
                            {{if .Page.Params.end}}{{ time.Format "01/2006" .Page.Params.end }}{{ else }}Present{{ end
                            }}</span></p>
                </a>
                <p><i>{{ .Page.Params.position }}</i> <span class="loc-label">{{ .Page.Params.city }}</span></p>
                <!-- <div>
                    {{ .Page.Content }}
                </div> -->
            </li>
            {{ end }}
        </ul>
    </section>

    <section class="leadership">
        <h2>{{.Page.Params.leadership.name}}</h2>
        <ul>
            {{ range .Page.Params.leadership.item }}
            <li>
                <p><b>{{.title}}</b>, <i>{{.institution}}</i><span
                        class="data-label">{{ time.Format "01/2006" .start }}-{{if .end}}{{ time.Format "01/2006" .end
                        }}{{ else }}Present{{ end
                        }}</span></p>
                <p>{{ .description }}</p>
            </li>
            {{ end }}
    </section>

    <section class="extra">
        <!-- 技能 -->
        <h2>{{.Page.Params.skills.name}}</h2>
        {{range .Page.Params.skills.item}}
        <p><b>{{.name}}:</b> {{.content}}</p>
        {{end}}
        <!-- 奖项 -->
        <h2>{{.Page.Params.awards.name}}</h2>
        {{range .Page.Params.awards.item}}
        <p><b>{{.title}}</b>, <i>{{.institution}}</i> <span class="data-label">{{ time.Format "01/2006" .start }} -
                {{if .end}}{{ time.Format "01/2006" .end }}{{ else }}Present{{ end }}</span>
        </p>
        {{end}}
        <!-- 成员 -->
        <h2>{{.Page.Params.memberships.name}}</h2>
        {{range .Page.Params.memberships.item}}
        <p>{{.}}</p>
        {{end}}
    </section>

    <section class="transcript">

        <h2>{{.Page.Params.transcript.name}}</h2>
        <!-- 成绩单下载 -->
        {{- with .Page.Params.transcript.item }}
        {{ range . }}
        {{ $file := resources.Get .link }}
        <p>
            <a href="{{$file.RelPermalink}}" download="{{$file.Name}}" rel="noreferrer noopener me">
                {{ partial "icon.html" (dict "ctx" $ "name" .icon) }}
                <span>Download: {{.name}}</span>
            </a>
        </p>
        {{ end}}
        {{- end }}
    </section>
</div>